{# View for administrating groups #}

{% extends "base.html" %}

{% block content %}
  <h2> Administrate </h2>

  <a href="/dash">switch to dashboard view</a>

  <h3> Groups in which you are an administrator: </h3>

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
      {% for group in groups %}
        <li>
          <a href="#{{ group.id }}" data-toggle="tab">{{group.name}}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {# backend only passes groups in which admin=True #}

      {% for group in groups %}

        <div class="tab-pane" group={{group.id}} id={{group.id}}>
          {# Adding debts #}
          <div transtype="debt">
            <h4> Add debts: </h4>
            <p>From:</p>
            <div data-toggle="buttons-checkbox" direction="from">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{member.id}}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>To:</p>
            <div data-toggle="buttons-radio" direction="to">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{member.id}}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>Amount:</p>
            <input name="amount" type="text" pattern="\d+(\.\d{1,2})?" required/>
            <button role="submit" class="btn btn-primary">Submit</button>
          </div>

          {# Adding paybacks #}
          <div transtype="payment">
            <h4> Add payments: </h4>
            <p>From:</p>
            <div data-toggle="buttons-radio" direction="from">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{ member.id }}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>To:</p>
            <div data-toggle="buttons-radio" direction="to">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{ member.id }}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>Amount:</p>
            <input name="amount" type="text" pattern="\d+(\.\d{1,2})?" required/>
            <button role="submit" class="btn btn-primary">Submit</button>
          </div>

          {# CLEAR_ALL #}
          <button role="clearall" class="btn btn-large btn-primary">
            Clear all debts
          </button>

          {# Add admins #}
          {# <h4> Add administrators: </h4> #}

        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
{% endblock %}
