{# View for administrating groups #}

{% extends "base.html" %}

{% block content %}

  {{ toolbar("admin") }}

  <h2> Hello, {{ user.name }} </h2>

  <h3> Groups in which you are an administrator: </h3>

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
      {% for group in groups %}
        <li>
          <a href="#{{ group.id }}" data-toggle="tab">{{group.name}}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {# backend only passes groups in which admin=True #}

      {% for group in groups %}

        <div class="tab-pane" group={{group.id}} id={{group.id}}>
          {# Adding debts #}
          <div transtype="debt">
            <h4> Add debts: </h4>
            <p>From:</p>
            <div data-toggle="buttons-checkbox" tag="from">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{member.id}}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>To:</p>
            <div data-toggle="buttons-radio" tag="to">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{member.id}}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>Amount:</p>
            <input name="amount" type="text" pattern="\d+(\.\d{1,2})?" required/>
            <button role="submit" class="btn btn-primary">Submit</button>
          </div>

          {# Adding paybacks #}
          <div transtype="payment">
            <h4> Add payments: </h4>
            <p>From:</p>
            <div data-toggle="buttons-radio" tag="from">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{ member.id }}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>To:</p>
            <div data-toggle="buttons-radio" tag="to">
              {% for member in group.members %}
                <button class="btn btn-small" uid={{ member.id }}>
                  {{ member.name }}
                </button>
              {% endfor %}
            </div>
            <p>Amount:</p>
            <input name="amount" type="text" pattern="\d+(\.\d{1,2})?" required/>
            <button role="submit" class="btn btn-primary">Submit</button>
          </div>

          {# CLEAR_ALL #}
          <button role="clearall" class="btn btn-primary">
            Clear all debts
          </button>

          {# Add admins #}
          <div transtype="addadmin">
            <h4> Add more administrators: </h4>
            <div tag="user" data-toggle="buttons-checkbox">
              {% for member in group.members %}
                {% if not member.admin %}
                  <button class="btn btn-small" uid={{ member.id }}>
                    {{ member.name }}
                  </button>
                {% endif %}
              {% endfor %}
              <button role="addadmin" class="btn btn-primary">Submit</button>
            </div>
          </div>

          {# Resignation #}
          <div transtype="resign">
            <h4> Resign as an admin: </h4>
            <button role="resign" class="btn btn-primary">Resign</button>
          </div>

        </div><!-- tab content -->
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
{% endblock %}
