<html>
  <head>
    <title>iou</title>
    <!-- styles -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}"
          rel="stylesheet"/>
          <!-- scripts -->
  </head>
  <div class="container">
    <body>

      {% if toolbar %}
        <div class="navbar">
          <div class="navbar-inner">
            <ul class = "nav">
              <li><a class ="brand" href='/'> iou </a></li>
              <li class="divider-vertical"></li>
              <li><a href="/dash"> Dash </a> </li>
              <li><a href="/settings"> Account </a> </li>
            </ul>
            <ul class = "nav pull-right">
              <li><a href="/logout"> Logout </a></li>
            </ul>
          </div>
        </div>
      {% endif %}

      {% block content %}{% endblock %}

      {% block scripts %}
        <script type="text/javascript">
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
      {% endblock %}
    </body>

  </div>
</html>
